<h1>Products</h1>
<h2 id='bienvenida'>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.rol}}</p>
<button id='logout-button'>Logout</button>

<section id='products-container'></section>
<section class='pagination'>
	<button id='prev-page-button'>Prev</button>
	<span id='page-number'></span>
	<button id='next-page-button'>Next</button>
</section>